body{
    background : #eee url("/images/back8.jpg");
    background-repeat: no-repeat;
    background-size:cover;

  }
html,body{
    position: relative;
    height: 100%;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: keep-all;       /* Internet Explorer 5.5+ */
}
.login-container{
    width: 300px;
    margin: 80px auto;
    padding: 30px 50px 50px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -70%);
}


#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    background: #eee url("/images/bubblelogo.png");
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*Ripple*/
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
.uil-ripple-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite;
}
.uil-ripple-css div:nth-of-type(1) {
  border-color: #b6e2a5;
}
.uil-ripple-css div:nth-of-type(2) {
  border-color: #9dd5cf;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
/*START OF LOADING BAR CODE*/
#cssload-pgloading {}

#cssload-pgloading:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
#cssload-pgloading .cssload-loadingwrap {position:absolute;top:45%;bottom:45%;left:25%;right:25%;}
#cssload-pgloading .cssload-bokeh {
    font-size: 97px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    list-style: none;
    padding:0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#cssload-pgloading .cssload-bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: rgb(0,193,118);
    transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 1.3s linear infinite,
        cssload-opa 4.22s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: rgb(255,0,60);
    transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 2.14s linear infinite,
        cssload-opa 4.93s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: rgb(250,190,40);
    transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 1.67s linear infinite,
        cssload-opa 5.89s ease-in-out infinite alternate;
}

#cssload-pgloading .cssload-bokeh li:nth-child(4) {
    top: 50%; 
    left: 0;
    margin: -.1em 0 0 0;
    background: rgb(136,193,0);
    transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -o-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -ms-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -webkit-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
    -moz-animation: 
        cssload-rota 1.98s linear infinite,
        cssload-opa 6.04s ease-in-out infinite alternate;
}







@keyframes cssload-rota {
    from { }
    to { transform: rotate(360deg); }
}

@-o-keyframes cssload-rota {
    from { }
    to { -o-transform: rotate(360deg); }
}

@-ms-keyframes cssload-rota {
    from { }
    to { -ms-transform: rotate(360deg); }
}

@-webkit-keyframes cssload-rota {
    from { }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes cssload-rota {
    from { }
    to { -moz-transform: rotate(360deg); }
}

@keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-o-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-ms-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-webkit-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-moz-keyframes cssload-opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}
/*END OF LOADING BAR CODE*/

@media (max-width: 700px) {
      body{
          background : #eee url("/images/back8.jpg");
          background-repeat: no-repeat;
          background-size:cover;

        }
      html,body{
          position: relative;
          height: 100%;
          font-size: 0.9em !important;
      }

      pre {
          white-space: pre-wrap;       /* Since CSS 2.1 */
          white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
          white-space: -pre-wrap;      /* Opera 4-6 */
          white-space: -o-pre-wrap;    /* Opera 7 */
          word-wrap: keep-all;       /* Internet Explorer 5.5+ */
      }
      span{
        font-size: 0.8em !important;

      }
      #ques{
        font-size: 1em !important;

      }
      #welcome{
        font-size: 1em !important;
      }
      .login-container{
          width: 80%;
          height: 70%;
          margin: 80px auto;
          padding: 30px 50px 50px;
          text-align: center;
          background: #fff;
          border: 1px solid #ccc;
          position: fixed;
          top:50%;
          left:50%;
          transform: translate(-50%, -70%);
      }


      #output{
          position: absolute;
          width: 300px;
          top: -75px;
          left: 0;
          color: #fff;
      }

      #output.alert-success{
          background: rgb(25, 204, 25);
      }

      #output.alert-danger{
          background: rgb(228, 105, 105);
      }


      .login-container::before,.login-container::after{
          content: "";
          position: absolute;
          width: 100%;height: 100%;
          top: 3.5px;left: 0;
          background: #fff;
          z-index: -1;
          -webkit-transform: rotateZ(4deg);
          -moz-transform: rotateZ(4deg);
          -ms-transform: rotateZ(4deg);
          border: 1px solid #ccc;

      }

      .login-container::after{
          top: 5px;
          z-index: -2;
          -webkit-transform: rotateZ(-2deg);
           -moz-transform: rotateZ(-2deg);
            -ms-transform: rotateZ(-2deg);

      }

      .avatar{
          background: #eee url("/images/bubblelogo.png");
          width: 70px;height: 70px;
          /*margin: 10px auto 30px;*/
          border-radius: 100%;
          border: 2px solid #aaa;
          background-size: cover;
      }
      .

      .form-box input{
          width: 100%;
          padding: 10px;
          text-align: center;
          height:40px;
          border: 1px solid #ccc;;
          background: #fafafa;
          transition:0.2s ease-in-out;

      }

      .form-box input:focus{
          outline: 0;
          background: #eee;
      }

      .form-box input[type="text"]{
          border-radius: 5px 5px 0 0;
          text-transform: lowercase;
      }

      .form-box input[type="password"]{
          border-radius: 0 0 5px 5px;
          border-top: 0;
      }

      .form-box button.login{
          margin-top:15px;
          padding: 10px 20px;
      }
      .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      @-webkit-keyframes fadeInUp {
        0% {
          opacity: 0;
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
        }

        100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
          transform: translateY(20px);
        }

        100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
      }

      .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
      }
      /*Ripple*/
      @-webkit-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @-webkit-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @-moz-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @-ms-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @-moz-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @-webkit-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @-o-keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      @keyframes uil-ripple {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
          margin: 0 0 0 0;
        }
        33% {
          width: 44%;
          height: 44%;
          margin: -22% 0 0 -22%;
          opacity: 1;
        }
        100% {
          width: 88%;
          height: 88%;
          margin: -44% 0 0 -44%;
          opacity: 0;
        }
      }
      .uil-ripple-css {
        background: none;
        position: relative;
        width: 200px;
        height: 200px;
      }
      .uil-ripple-css div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        width: 0;
        height: 0;
        opacity: 0;
        border-radius: 50%;
        border-width: 12px;
        border-style: solid;
        -ms-animation: uil-ripple 2s ease-out infinite;
        -moz-animation: uil-ripple 2s ease-out infinite;
        -webkit-animation: uil-ripple 2s ease-out infinite;
        -o-animation: uil-ripple 2s ease-out infinite;
        animation: uil-ripple 2s ease-out infinite;
      }
      .uil-ripple-css div:nth-of-type(1) {
        border-color: #b6e2a5;
      }
      .uil-ripple-css div:nth-of-type(2) {
        border-color: #9dd5cf;
        -ms-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s;
      }
}