#title
{
    padding-bottom: 0;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: center;
}
iframe
{
  border: none;
  overflow: hidden;
  width : 100%;
  height: auto;
}
.email
{
    background-color: white !important;
    color: black;
    padding : 2%;
}
body
{
    color: #34a8d2!important;
    font: 10pt arial;
    background-color:  white !important;
    overflow: hidden;
}

#mynetwork {
    display:block;
    position: fixed;
    width: 100%;
    height:93.5vh;
    /*border: 1px solid #444444;*/
    /*z-index: -1000;*/ 
}
#myCanvas 
{
    /*background-color: #b4c1d4 !important; */
}
/*#nav
{
    margin-bottom: 0;
    background-color: #0f4d71; /*#0b3954 !important;
    color: white !important;
}*/
.avatar{
    background: #eee url("/images/bubblelogo.png");
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}
#sidepanel{
    padding: 0.5em;
    /*opacity: 0.9;*/
    background-color: rgba(256,256,256,0.8) ;
    height:93.5vh;
    position: fixed !important;
    left: auto !important;
    right: 0px !important;
    width: 1500px;
    vertical-align: middle !important;
    color: black !important;
    border: solid;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-width: 2px !important;
}
/*.glyphicon
{
    font-size: 14pt ;
}
#dropMenu > li
    font-size: 16pt ;
}*/
/*#dropMenu > li
{
  font-size: 12pt;
}*/
/*#dropMenu > span
{
  font-size: 10pt;
}*/
#sidepanelTitle{
    padding:5px;
    background-color:  rgb(15,77,113); 
    color:white;
    margin-top: 3%;
    text-align: center;
    font-size: 10pt;
}
#accordion{
     /*background-color: rgba(15, 77, 113, 0.8) !important; */
}
.panel-default{
    color: white !important;
    /*background-color: rgb(15, 77, 113) ; */
    font-size: 12pt;/*
    cursor: auto !important;*/
}
.panel-group
{
  /*background-color: rgb(15, 77, 113); */
}
.panel-body
{
  cursor: default !important;
  font-size: 12pt;
}
.panel-heading {
    color: white !important;
    /*background-color: rgb(15, 77, 113) ; */
    font-size: 18pt;
    cursor: pointer !important;
    text-align: center;
}
h2{
    color: white !important;
    font-size: 15pt !important;
    /*text-align: center !important;*/
    padding-left: 3%;
    vertical-align: center;
}
.breadcrumb{
    color: white !important;
    background-color: rgb(15, 77, 113); 
}
.breadcrumb > li{
    color: white !important;
    font-size: 12pt;
}
.breadcrumb > li >a{
    color: white !important;
    font-size: 12pt;
}

@media (max-width: 700px) {
          #title
          {
              padding-bottom: 0;
              height: 100%;
              margin-bottom: 0;
              margin-top: 0;
              vertical-align: center;
          }
          #Branchrange{
            color:white !important;
          }
          #Depthrange{
            color:white !important;
          }
          .email
          {
              background-color: white !important;
              color: black;
              padding : 2%;
          }
          body
          {
              color: #34a8d2!important;
              font: 10pt arial;
              background-color:  white !important;
          }

          #mynetwork {
              display:block;
              position: fixed;
              width: 100%;
              height:93.5vh;

              /*z-index: -1000;*/
          }

          #sidepanel{
              padding: 0.5em;
              /*opacity: 0.9;*/
              background-color: rgba(256,256,256,0.8) !important;
              height:93.5vh;
              position: fixed !important;
              left: auto !important;
              right: 0px !important;
              width: 100% !important;
              vertical-align: middle !important;
              color: black !important;
              border: solid;
              border-right: 0px !important;
              border-top: 0px !important;
              border-bottom: 0px !important;
              border-width: 2px !important;
              overflow:scroll; 
          }

          #sidepanelTitle{
              padding:5px;
              background-color:  rgba(15,77,113,0.8); 
              color:white;
              margin-top: 3%;
              text-align: center;
              font-size: 10pt;
          }
          #accordion{
               /*background-color: rgba(15, 77, 113, 0.8) !important; */
          }
          .panel-default{
              color: white !important;
              background-color: rgba(15, 77, 113, 0.4) !important; 
              font-size: 12pt;/*
              cursor: auto !important;*/
          }
          .panel-body
          {
            cursor: default !important;
            font-size: 12pt;
          }
          .panel-heading {
              color: white !important;
              background-color: rgba(15, 77, 113, 0.4) !important; 
              font-size: 18pt;
              cursor: pointer !important;
              text-align: center;
          }
          h2{
              color: white !important;
              font-size: 15pt !important;
              /*text-align: center !important;*/
              padding-left: 3%;
              vertical-align: center;
          }
          .breadcrumb{
              color: white !important;
              background-color: rgba(15, 77, 113, 0.8) !important; 
          }
          .breadcrumb > li{
              color: white !important;
              font-size: 12pt;
          }
          .breadcrumb > li >a{
              color: white !important;
              font-size: 12pt;
          }

}