<!DOCTYPE html>
<html lang="en" manifest="/cache.manifest">
  <head>
      <title>Welcome</title>
      <meta http-equiv="Content-Type" content="text/html;a charset=UTF-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
      <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />  
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
      <link href="/css/help.css" rel="stylesheet"></link>
      <script src="https://code.jquery.com/jquery-1.12.3.min.js" type="text/javascript" ></script>
      <script src="/js/jquery-2.1.0.min.js"></script>
      <script src="/js/help.js"></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script> 
      <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway" rel="stylesheet"></link>

      
      
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"></link>
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon"></link>
  </head>
  <body>
        <div id="centreText1" style="position:fixed">
          <p style="color:white;font-size:10vw;text-align: center;font-family:'Raleway';">
            Hi
          </p>
        </div>

        <div id="centreText2" style="position:fixed;">
          <p style="color:white;font-size:4vh;text-align: center;font-family:'Raleway';">
            While we get things ready for you <br /> 
            why dont you look at what you are in for? 
          </p>
        </div>

        <div id="centreText4" style="position:fixed;">
          <p style="color:white;font-size:5vh;text-align: center;font-family:'Pacifico';">
            unclutter
          </p>
        </div>
<!--         <div id="outline">

        </div> -->
        <div id="centreText3" style="position:fixed;">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="/images/wiggle.gif" alt="Movement"></img>
                <div class="carousel-caption" style="color:white">
                  <h2 style="font-family:'Pacifico';">Movement</h2>
                  <h4>Click and drag on any bubble to move it. Move the whole Bubble Map by dragging the background. You can also zoom in and out by scrolling the mouse wheel.</h4>
                </div>
              </div>

              <div class="item"> 
                <img src="/images/expand.gif" alt="Expanding"></img>
                <div class="carousel-caption" style="color:white">
                  <h2 style="font-family:'Pacifico';">Expanding</h2>
                  <h4>Right click on any bubble that you want to expand and select "Expand Bubble". This will pop up more topics relevant to you.</h4>
                </div>
              </div>

              <div class="item">
                <img src="/images/delete.gif" alt="Delete"></img>
                <div class="carousel-caption" style="color:white">
                  <h2 style="font-family:'Pacifico';">Delete</h2>
                  <h4>Right click on any bubble that you want to delete and select "Delete Bubble".</h4>
                </div>
              </div>

              <div class="item">
                <img src="/images/showsidebar.gif" alt="Information"></img>
                <div class="carousel-caption">
                  <h2 style="font-family:'Pacifico';">More Information</h2>
                  <h4>Double click on a bubble to show you more information about that bubble. This includes emails and facebook posts related to that bubble.</h4>
                </div>
              </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color:white"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:white"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <button id="skip" type="button" class="btn btn-warning" onclick="window.location.assign('/')" style="bottom: 0; right: 0; position: fixed; margin: 25px;position:fixed">  We're Ready <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </button>


  </body>
</html>