<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Register</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/login.js"></script>
    <link href="/bootstrap/css/bootstrap-social.css" rel="stylesheet" id="bootstrap-css"></link>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/5b230d7f10.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
</head>

<body onload="startApp()">
   
   <!--  <a href="#" onclick="signOut();">Sign out</a>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" id="facebookLogout" onlogin="onFacebookLogin"></div> -->
    <div class="container">
        <div class="login-container" id = "container">
            <div id="output"></div>
            <div class="avatar" id="avatar" Style = "position:relative"></div>

            <div id="welcome" Style= "position:relative;font-size:30px;opacity:0;top:50px">Welcome</div>

            <div class="form-box">
                <form onsubmit="" action="" method="POST" id="formID">

                
                    
                    <br/>
                    <a class="btn btn-social-icon btn-lg  btn-facebook" id="facebookLogin"  onclick="onFacebookLogin()">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="btn btn-social-icon btn-lg  btn-google" id="googleLogin">
                        <span class="fa fa-google"></span>
                    </a>
                    <button id="continue" type="button" class="button btn btn-info btn-block login" onclick="loadXMLDoc()" Style="position:relative;opacity:0">Continue</button> 
                    <br/>
                    <br/>
                    <div id="tos">
                        <p>
                            By registering, you are agreeing to the <a data-toggle="modal" data-target="#myModal" id="privacy" style="cursor:pointer" onclick="loadPrivacy()">privacy policy</a> and <a data-toggle="modal" data-target="#myModal" id="terms" style="cursor:pointer" onclick="loadTos()">terms of service.</a>
                        </p>
                    </div>
                </form>

                                 
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                <div id="status"></div>

            </div>   
    </div>
    </div>
    
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modaltitle">Modal Header</h4>
          </div>
          <pre>
          <div class="modal-body" id="modelbod">

          </div>
          </pre>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

</body>
</html>