<!DOCTYPE html >

<html lang="en" manifest="/cache.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#0f4d71"></meta>
    <title>Register</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/landingpage.css"/>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <link href="/bootstrap/css/bootstrap-social.css" rel="stylesheet" id="bootstrap-css"></link>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/5b230d7f10.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="/js/stomp.min.js"></script>
    <script src="/js/basket.full.min.js" type="text/javascript" ></script>
    <script src="/js/login.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway" rel="stylesheet"></link>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"></link>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"></link>
</head>

<body onload="startApp()">
    <div id="landingpage">
        <img id="sidedemo" src="/images/expand.gif" alt="Expanding"></img>
    </div>
    <div id="landingside">
        <div id="centreText4" style="position:fixed;">
          <p style="color:white;font-size:6vh;text-align: center;font-family:'Pacifico';">
            unclutter
          </p>
        </div>
        <br/>
        <div id="centreText4" style="position:fixed;top:20%"> 
          <p id="ptext2" style="color:white;font-size:3vh;text-align: center;font-family:'Raleway';">
            You simplified.
          </p>
        </div>
        <br/>
        <div id="centreText4" style="position:fixed;top:30%">
          <p id="ptext" style="color:white;font-size:2vh;text-align: center;font-family:'Raleway';">
            Our world of today revolves around the use of apps. Daily new apps are released with the common objective of simplifying our lives.
            There’s a saying that goes, rather less than more.
            That said, are all these numerous apps really simplifying our lives or are they actually complicating it? <br/><br/>So what is our objective you ask? The answer is simple – we are creating an app that will simplify your life

          </p>
        </div>
        <button id="sigin" type="button" class="button btn btn-warning btn-block" onclick="liftup();loadReg()" >Sign me up</button> 
        <button id="login" type="button" class="button btn btn-warning btn-block" onclick="liftup();" >Log me in</button> 
            

    </div>
   <!--  <a href="#" onclick="signOut();">Sign out</a>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" id="facebookLogout" onlogin="onFacebookLogin"></div> -->
    <div class="container">
        <div class="login-container" id = "container">


            <div id="cssload-pgloading">
                <div class="cssload-loadingwrap">
                    <ul class="cssload-bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        
            <div id="output"></div>
            <div class="avatar" id="avatar" Style = "position:relative"></div>

            <div id="welcome" Style= "position:relative;font-size:30px;opacity:0;top:50px">Welcome</div>

            <div class="form-box">
                <form onsubmit="" action="" method="POST" id="formID">
                    <div id="tos2">
                        <p>
                            Please sign in with one of these services.
                        </p>
                    </div>
                    
                    <br/>
                    <a class="btn btn-social-icon btn-lg  btn-facebook" id="facebookLogin"  onclick="onFacebookLogin()">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="btn btn-social-icon btn-lg  btn-google" id="googleLogin">
                        <span class="fa fa-google"></span>
                    </a>
                    <button id="continue" type="button" class="button btn btn-info btn-block login" onclick="loadXMLDoc()" Style="position:relative;opacity:0">Continue</button> 
                    <br/>
                    <br/>
                    <div id="tos">
                        <p>
                            By signing in, you are agreeing to the <a data-toggle="modal" data-target="#myModal" id="privacy" style="cursor:pointer" onclick="loadPrivacy()">privacy policy</a> and <a data-toggle="modal" data-target="#myModal" id="terms" style="cursor:pointer" onclick="loadTos()">terms of service.</a>
                        </p>
                    </div>
                </form>

                                 
                <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                <!-- <div id="status"></div> -->

            </div>   
    </div>
    </div>
    <button id="skip" type="button" class="btn btn-warning" onclick="liftdown();" style="bottom: 0; left: 0; position: fixed; margin: 25px;position:fixed"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back </button>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modaltitle">Modal Header</h4>
          </div>
          <pre>
          <div class="modal-body" id="modelbod">

          </div>
          </pre>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div class="alert alert-success" id="loadingAlert" style="bottom: 0; right: 0; width: 300px; position: fixed; margin-right: 15px;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Loading...</strong>    
    </div>

</body>
</html>